:root {

    --azul-axa: #00008F;
    --rojo-colpatria: #ED1C24;
    --burnt-sienna: #F07662;

    /* gris - paleta*/
    --gris-pozo-mina: #333333;
    --gris-pozo-escorpion: #5F5F5F;
    --gris: #7F7F7F;
    --gris-polvo: #999999;
    --gris-mon: #b7b7b7;
    --gris-plateado: #CCCCCC;
    --gris-mercurio: #E5E5E5;
    --gris-arena: #F5F5F5;
    --alabastro: #FAFAFA;
    --blanco: #FFFFFF;


    /* botones- hover  link active */
    --link-active-navy: #000072;
    --boton-hover-flame-pea: #c05e4e;
    /* fondo-paletas */
    --bg-ocean-blue: #4976ba;
    --bg-azalea: #e196aa;
    --bg-igloo: #b5d0ee;
    --bg-teal: #027180;
    --bg-logan: #9190ac;
    --bg-cotton-candy: #fad6de;
    --bg-pacific: #00adc6;
    --bg-apache: #bc9d45;
    --bg-agua-green: #9fd9b4;
    --bg-viridian-green: #668980;
    --bg-tosca: #914146;
    --bg-acid: #f0ff93;
    --bg-dune: #fcd385;
    --bg-greyjoy: #fcd385;

    /* fondo-mensajes */
    --error-mensaje: #f0D7D8;
    --success-mensaje: #CDF4D9;
    --warning-mensaje: #FCF2C3;
    --info-mensaje: #CEF1FC;


    /*Border-mensajes*/
    --border-error-mensaje: #BA0108;
    --border-success-mensaje: #1CC54F;
    --border-warning-mensaje: #FFD924;
    --border-info-mensaje: #28C1F2;

    /*  tamaño titulos*/

    --h1-title-size: 3em;
    --h1-title-height: 54px;

    --h2-title-size: 1.3em;
    --h2-title-height: 35.5px;

    --h3-title-size: 28px;
    --h3-title-height: 31.5px;


    --h4-title-size: 24px;
    --h4-title-height: 27px;


    /*  tamaño subtitulos*/

    --h2-subtitle-size: 28px;
    --h2-subtitle-height: 31.5px;

    --h3-subtitle-size: 24px;
    --h3-subtitle-height: 27px;


    --h4-subtitle-size: 20px;
    --h4-subtitle-height: 22.5px;


    --h5-subtitle-size: 18px;
    --h5-subtitle-height: 20.25px;


    /* Font Publico Banner */

    /*   @font-face {
        font-family: 'PublicoBannerBold';
        src: url('@/assets/fonts/Publico-Banner-Bold.ttf');
    }
 */

    /* SourceSansPro */

    @font-face {
        font-family: 'SourceSansPro';
        src: url('@/assets/fonts/SourceSansPro-Regular.ttf');
    }

    @font-face {
        font-family: 'SourceSansProBold';
        src: url('@/assets/fonts/SourceSansPro-Bold.ttf');
        font-weight: bold;
    }

    @font-face {
        font-family: 'SourceSansProItalic';
        src: url('@/assets/fonts/SourceSansPro-Italic.ttf');
        font-style: italic;
    }

    @font-face {
        font-family: 'SourceSansProBoldItalic';
        src: url('@/assets/fonts/SourceSansPro-BoldItalic.ttf');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: 'SourceSansProLight';
        src: url('@/assets/fonts/SourceSansPro-Light.ttf');
        font-weight: 300;
    }

    @font-face {
        font-family: 'SourceSansProLightItalic';
        src: url('@/assets/fonts/SourceSansPro-LightItalic.ttf');
        font-style: italic;
        font-weight: 300;
    }
}



html {
    margin: 0px !important;
    padding: 0px !important;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    background-color: var(--blanco);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Publico Headline Bold';
    overflow: hidden;
    
}

/* svg {
    height: 100%;
    width: 100%;
} */

p {
    font-size: 18px;
    line-height: 24px;
    font-family: Source Sans pro;
    text-align: justify;
    color:white
}

h1 {
    font-family: Source Sans Pro;
    font-size: var(--h1-title-size);
    line-height: var(--h1-title-height);
    margin: 2px;
}

h2 {
    font-family: Source Sans Pro;
    font-size: var(--h2-title-size);
    color: white;
    font-weight: normal;
}

h3 {
    font-family: Source Sans Pro;
    font-size: 1.3em;
    color: white
}



.texto-bienvenida {
    font-family: Source Sans Pro;
    font-size: var(--h1-title-size);
    line-height: var(--h1-title-height);
    margin: 2px;
}



.titulos-ventanas-intro {
    width: 80%;
    font-family: Source Sans Pro;
    font-size: 1.8em;
    font-weight: bold;
    margin: 2px;
    text-align: center;
    margin: 0px auto
}

.contenedor-central {
    width: 483px;
    height: 533px;
    background-color: white;
    border-radius: 4%
}


/* Iconos indicador */
.opcion-correcto::before {
    content: '';
    background: url('@/assets/img/check_awert.png') no-repeat;
    background-size: contain;
    position: fixed;
    width: 3vw;
    height: 3vh;
    transform: translate(210px, -3px);
}

.opcion-incorrecto::before {
    content: '';
    background: url('@/assets/img/check_wrong.png') no-repeat;
    background-size: contain;
    position: fixed;
    width: 3vw;
    height: 3vh;
    transform: translate(210px, -3px);
}

/* Iconos indicador JuegoManos */
.opcion-correcta-item::before {
    content: '';
    background: url('@/assets/img/check_awert.png') no-repeat;
    background-size: contain;
    position: fixed;
    width: 3vw;
    height: 3vh;
    transform: translate(9.3rem, 1rem);
    float: right;
}

.opcion-incorrecta-item::before {
    content: '';
    background: url('@/assets/img/check_wrong.png') no-repeat;
    background-size: contain;
    position: fixed;
    width: 3vw;
    height: 3vh;
    transform: translate(9.3rem, 1rem);
    float: right;
}

/* .contenedor-central {
    width: 80%;
    height: 28rem;
    display: flex;
    flex-direction: column;
    grid-gap: 6rem;
    place-content: center;
    align-items: center;
    justify-content: center;   
} */

.subtitulo {
    font-family: Source Sans Pro;
    font-size: var(--h2-title-size);
    color: black;
    font-weight: normal;
}

/* Burn Sienna */

.button-bs {
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    /* font-size: 15px; */
    display: inline-block;
    padding: 0 25px;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer
}

.button-bs {
    background: #F07662;
    color: #fff;
}

.button-bs:hover {
    background: #EC4D33;
}


.botonMenu {
    position: absolute;
    left: 11px;
    top: 13px;
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
    cursor: pointer
}

.botonMenu::before {
    content: url('@/assets/img/botonMenu.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.btn-primary,
.btn-primary-vr1,
.btn-ghost-white,
.button-bs {
    font-family: Source Sans Pro;
}

.btn-primary {
    background-color: var(--azul-axa);
    color: var(--blanco);
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    display: inline-block;
    padding: 0 25px;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}


.btn-primary-vr1 {
    width: 10vw;
    background-color: #4976ba;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    display: inline-block;
    padding: 0 25px;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
    transition: 0.5s;
}

.btn-primary-vr1:hover {
    background-color: var(--blanco);
    color: #4976ba;
    border: 2px solid #4976ba;
    transition: 0.5s;
}

/* ghost */

/* .btn-ghost-white {
    background: none;
    border: 2.5px solid #00008f;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    display: inline-block;
    padding: 0 25px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;

}

.btn-ghost-white:hover {
    border: 2.5px solid #00008f;
    background: #00008f;
    color: #fff;
    transition: 0.5s;
} */

.btn-ghost-white {
    align-items: center;
    border-color: #000072;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 2px 0;
    color: #fff;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font: normal 600 14px/14px "Source Sans Pro", Arial, sans-serif;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    min-height: 40px;
    justify-content: center;
    letter-spacing: 0.05em;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 195ms cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: all 195ms cubic-bezier(0.4, 0, 1, 1);
    -ms-transition: all 195ms cubic-bezier(0.4, 0, 1, 1);
    transition: all 195ms cubic-bezier(0.4, 0, 1, 1);
    user-select: none;
    vertical-align: middle;
    z-index: 0;
}

.btn-ghost-white:active {
    background-color: #00008f;
    color: #fff;
}

.btn-ghost-white:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

.btn-ghost-white:focus {
    background-color: #00008f;
    color: #fff;
}

.btn-ghost-white:disabled {
    background-color: #e5e5e5;
    border-color: #ccc;
    cursor: not-allowed;
    transition: none;
}

.btn-ghost-white:disabled:hover:after,
.btn-ghost-white:disabled:hover:before {
    display: none;
    transition: none;
}

.btn-ghost-white:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    content: "";
    height: 530px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(37.6deg);
    -moz-transform: translate3d(-50%, -50%, 0) rotate(37.6deg);
    -ms-transform: translate3d(-50%, -50%, 0) rotate(37.6deg);
    transform: translate3d(-50%, -50%, 0) rotate(37.6deg);
    -webkit-transition: width 0.3s, opacity 0.3s;
    -moz-transition: width 0.3s, opacity 0.3s;
    -ms-transition: width 0.3s, opacity 0.3s;
    transition: width 0.3s, opacity 0.3s;
    width: 0;
    z-index: -1;
}

@media (pointer: fine) {

    .btn-ghost-white:active,
    .btn-ghost-white:focus,
    .btn-ghost-white:hover {
        color: #fff;
    }

    .btn-ghost-white:active:after,
    .btn-ghost-white:focus:after,
    .btn-ghost-white:hover:after {
        opacity: 1;
        width: 110%;
    }
}

.btn-block.btn-ghost-white {
    box-sizing: border-box;
    width: 100%;
}

.btn-md.btn-ghost-white {
    font-size: 14px;
    height: 40px;
}

.btn-sm.btn-ghost-white {
    font-size: 14px;
    height: 30px;
    padding-top: 1px;
}

.btn-ghost-white {
    background-color: transparent;
    border: solid 2px #00008f;
    color: #00008f;
}

.btn-sm.btn-ghost-white {
    padding-top: 0;
}

.btn-arrow:active.btn-ghost-white:before,
.btn-arrow:focus.btn-ghost-white:before,
.btn-arrow:hover.btn-ghost-white:before,
.btn-ghost.btn-icon:active.btn-ghost-white:before,
.btn-ghost.btn-icon:focus.btn-ghost-white:before,
.btn-ghost.btn-icon:hover.btn-ghost-white:before,
.btn-icon:active.btn-ghost-white:before,
.btn-icon:focus.btn-ghost-white:before,
.btn-icon:hover.btn-ghost-white:before {
    border-left-color: #00008f;
}

.btn-arrow.btn-ghost-white:before,
.btn-ghost-white.btn-arrow:before,
.btn-icon.btn-ghost-white:before {
    font-weight: 600;
    line-height: 37px;
}

.btn-arrow.btn-sm.btn-ghost-white:before,
.btn-icon.btn-sm.btn-ghost-white:before,
.btn-sm.btn-ghost-white.btn-arrow:before {
    line-height: 27px;
}

.btn-ghost-white svg {
    fill: currentColor;
}

.btn-ghost-white:active,
.btn-ghost-white:focus,
.btn-ghost-white:hover {
    border-color: #000072;
    color: #000072;
}

@media (pointer: fine) {

    .btn-ghost-white:active,
    .btn-ghost-white:focus,
    .btn-ghost-white:hover {
        border-color: #fff;
        color: #00008f;
    }

    .btn-ghost-white:active:after,
    .btn-ghost-white:focus:after,
    .btn-ghost-white:hover:after {
        opacity: 1;
        width: 110%;
    }
}

.btn-ghost-white {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.btn-block {
    box-sizing: border-box;
    width: 100%;
}

.btn-small {
    min-height: 30px;
}

.btn-large {
    min-height: 50px;
}


.btn-ayuda {
    width: 6vh;
    height: 6vh;
    background: url('@/assets/img/icono-informativo_pausas.png') no-repeat;
    background-size: contain;
    position:absolute;
    top:10px;
    left:12px;
    cursor:pointer
}




.ventana-pregunta-ruleta {
    width: 50vw;
    height: 60vh;
    background-color: var(--bg-greyjoy);
    transform-origin: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
}



/* mensaje Bienvenida */
.mensaje-bienvenida {
    display: block;
    width: 60vw;
    height: 60vh;
    text-align: center;
}

/* mensaje */
.mensaje {
    display: none;
    width: 60vw;
    height: 60vh;
    text-align: center;
}


.botones-menu {
    height: 30vh
}

/* mensaje bienvenida */
.bienvenida {
    background-color: var(--alabastro);
    border: 2px solid var(--border-error-mensaje)
}

/* mensaje error */
.error {
    background-color: var(--error-mensaje);
    border: 2px solid var(--border-error-mensaje)
}

/* mensaje success */
.success {
    background-color: var(--success-mensaje);
    border: 2px solid var(--border-success-mensaje)
}

/* mensaje info */
.info {
    background-color: var(--info-mensaje);
    border: 2px solid var(--border-info-mensaje)
}

/* mensaje warning */
.warning {
    background-color: var(--warning-mensaje);
    border: 2px solid var(--border-warning-mensaje)
}

/* .ruleta {
    width: 70vh;
    height: 70vh;
    background: url('src/assets/svg/ruleta.svg');
    background-repeat: no-repeat;
} */

.puntero-ruleta {
    width: 8vh;
    height: 12vh;
    background: url('src/assets/svg/puntero.svg');
    background-repeat: no-repeat;
}

.Puntuacion {
    width: 22vh;
    height: 12vh;
    position: absolute;
    top: 9px;
    right: 79px;
    text-align: center;
}

.figura1 {
    width: 8vh;
    height: 12vh;
}

.flecha-top {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 9vh;
    background: url(src/assets/img/flecha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.flecha-left {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 9vh;
    height: 100vh;
    background: url(src/assets/img/flecha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(270deg);
}

.flecha-bottom {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 9vh;
    background: url(src/assets/img/flecha.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
}

.flecha-right {
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 9vh;
    height: 100vh;
    background: url(src/assets/img/flecha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(90deg);
}

.tablero {
    display: grid;
    grid-template-rows: 5fr;
    height: 100%;
    width: 48vw;
    grid-template-columns: repeat(auto-fit, minmax(20vh, 1fr));
    align-content: center;
    place-content: center;
    margin: 0px auto;

}

.tablero .casillas {
    border: 2px solid var(--gris-polvo);
    width: 9vw;
    height: 15vh;
    font-size: 32px;
    line-height: 24px;
    font-weight: bolder;
    cursor: pointer;
    background-color: var(--gris-arena)
}

.tablero .casillas:hover {
    background-color: var(--burnt-sienna)
}


.container {
    width: 100vw;
    height: 100vh;
    background-image: url('@/assets/svg/hospitl_escena.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#centro {
    pointer-events: none;
}

#centro div {
    border-radius: 100%;
    width: 5vw;
    height: 5vw;
    background-color: var(--bg-agua-green);
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}





.spiner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: var(--azul-axa);
    animation: spin 1s linear infinite;
    animation-fill-mode: forwards
}

.responsive {
    width: 100%;
    height: auto;
}

#pleaserotate-graphic {
    fill: var(--azul-axa);
}

#pleaserotate-backdrop {
    color: var(--azul-axa);
    background-color: var(--blanco)
}

#pleaserotate-message {
    text-transform: unset !important;
    font-size: 1.5em !important;
}

#pleaserotate-backdrop::before {
    content: url(@/assets/img/logo.png);
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* Contenedor centrar */
.contenedor-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    place-items: center;
    width: 74vw;
    height: 88vh;
    max-height: 700vh;
    grid-gap: 24px;
    background-color: white;
    border-radius: 23px;
    filter: drop-shadow(2px 4px 6px black);
    /*  background-image: url(/src/assets/img/fonto.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; */
}

/* STYLES GLOBALES SLIDER INSTRUCCION */

.responsive-imagen-slider {
    width: 76%;
    height: auto
}

/* SLIDER STYLE */
.item-slider {
    text-align: center;
    width: 100%;
}

.item-slider img {
    object-fit: cover;
    width: 50vw;
    height: fit-content;
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
        border-left-color: var(--bg-igloo);
    }

    100% {
        transform: rotate(360deg);
        border-left-color: var(--azul-axa);
    }
}

/*TOOL TIP PAUSAS*/

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background: #d7e5f2;
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #18488c;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    left: 54px;
    top: 2px;
    z-index: 1;
    font-family: Source Sans Pro;
    font-size:0.9em
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 40%;
    left: -8%;
    transform: rotate(90deg);
    /* margin-left: -5px; */
    border-width: 5px;
    border-style: solid;
    border-color: #18488c transparent transparent transparent;
   /*  border: 5px solid #18488c; */
}

/* Media querys*/
@media screen and (max-width: 640px) {
    h1 {
        --h1-title-size: 1.5em;
        font-size: var(--h1-title-size);
    }



    .responsive {
        width: 79vh;
        height: auto;
    }

    .texto {
        width: 65%;
        height: 15em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   

    .contenedor-ejercicio-pausas {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        place-items: center;
        width: 61vw;
        margin: 0px auto;
        overflow: scroll;
    }

    .texto-instrucciones {
        height: 320px !important
    }

    .slider-instrucciones {
        width: 30vh;
    }


    .contenedor-items-slider{
        width: 80%;

    }


    /* ACA */
    .item-slider img {
        width: 40vw;
        height: fit-content;
    }

    p {
        font-size: 1em;
        line-height: 15px;
        font-family: Source Sans pro;
        text-align: justify;
        padding:0px;
        margin:7px 2px
    }

    .button-bs {
        line-height: 36px;
        
    }

    .btn-primary{
        line-height: 28px;
    }
   

    .contenedor-central{
        width: 483px;
        height: 79vh;
    }

    .icono-perfil {
        top: -14px;
    }

    .camara-web {
        top: -6px;
    }

    #contenedor-video {
        width: 72vh;
        height: 216px;
    }

    .titulos-ventanas-intro{
       /*  display: none; */
    }

    .config-opciones{
        font-size: 0.8em;
    }

}

@media screen and (min-width: 640px) and (max-width: 1280px) {

    h1 {
        --h1-title-size: 1.5em;
        font-size: var(--h1-title-size);
    }

    h2 {
        --h2-title-size: 0.9em;
        --h2-title-height: 19.5px;
        font-size: var(--h2-title-size);
        line-height: var(--h2-title-height);
    }

    .texto {
        width: 65%;
        height: 14em;
    }

    .responsive {
        width: 66vh;
        height: auto;
    }
}

@media screen and (min-width: 1280px) {

    /* body {
        border: 34px solid green;
    } */
    .responsive {
        width: auto;
        height: auto;
        object-fit: scale-down;
    }
}